.w-75{
    border:3px solid !important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
img{
    width: 100px;
    height: 100px;
} 
a{
    text-decoration: none;
}