<div class="d-flex justify-content-between align-items-center my-4 m-1">
  <label class="d-flex align-items-center">
    Show
    <select class="form-control mx-2" [(ngModel)]="selectedOption" (change)="updateLimit()">
      <option [value]="rejectData.length">All</option>
      <option value="2">2</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    entries
  </label>
  <label class="d-flex align-items-center">
    Search:
    <input [(ngModel)]="searchValue" name="searchValue" type="search" class="form-control mx-2" (keyup)="filterUpdate()"/>
  </label>
</div>

<!-- Table of Contents -->
<div class="table-responsive" *ngIf="rejectData.length > 0">
  <ngx-datatable
  [rows]="displayedData"
  [rowHeight]="'auto'"
  class="bootstrap core-bootstrap"
  [limit]="selectedOption"
  [columnMode]="ColumnMode.force"
  [headerHeight]="50"
  [footerHeight]="50"
  [scrollbarH]="true">

  <ngx-datatable-column name="ID" prop="id" [width]="100">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div class="badge badge-pill badge-glow px-3">
        {{ row.id }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Amount" prop="amount" [width]="150">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.amount }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Payment Type" prop="payment_type" [width]="150">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.payment_type }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Transaction Type" prop="transaction_type" [width]="150">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.transaction_type }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Wallet ID" prop="wallet_id" [width]="150">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.wallet_id }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Wallet Type" prop="wallet_type" [width]="150">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.wallet_type }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Wallet Phone" prop="wallet_phone" [width]="150">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.wallet_phone }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Status" prop="status" [width]="150">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.status }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Store" prop="store" [width]="150">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.store }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Creation Date" prop="created_at" [width]="150">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.created_at | date: "short" }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Action Date" prop="approve_date" [width]="150">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.approve_date | date: "short" }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Actions" [width]="100" [sortable]="false">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div ngbDropdown container="body">
        <button
          ngbDropdownToggle
          type="button"
          class="btn icon-btn btn-sm hide-arrow text-danger"
          rippleEffect>
          <span [data-feather]="'more-vertical'" class="cursor-pointer"></span>
        </button>
        <div ngbDropdownMenu>
          <a ngbDropdownItem (click)="onApprove(row.id)">
            <span [data-feather]="'check'" [size]="16" class="mr-50 text-success"></span>
            Approve Transaction
          </a>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-footer>
    <ngx-datatable-pager
      [rows]="displayedData"
      [limit]="selectedOption"
      [count]="totalRows" 
      (pageChange)="onPageChange($event)"
      [pageSizeOptions]="[5, 10, 20, 50]">
    </ngx-datatable-pager>
  </ngx-datatable-footer>
</ngx-datatable>

</div>

<div *ngIf="rejectData.length == 0">
  <h3 class="text-center">No Rejected Transactions</h3>
</div>

<!-- Upload Photo Modal -->
<div class="modal fade" id="uploadPhotoModal" tabindex="-1" role="dialog" [ngClass]="{ show: showModal }" [style]="showModal ? 'display:block' : 'display:none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload Photo</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span [data-feather]="'x'" [size]="16" class=""></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="photoInput">Select a photo to upload:</label>
            <input type="file" id="photoInput" (change)="uploadPhoto($event)" class="form-control" accept="image/*"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Paginator -->
<div class="d-flex justify-content-between align-items-center mt-3">
  <span>{{ rejectData.length }} total</span>
  <div>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="skipBack()" aria-label="Previous">
            <span [data-feather]="'skip-back'" [size]="18.5" class=""></span>
          </button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="prevPage()" aria-label="Previous">
            <span [data-feather]="'chevron-left'" [size]="18.5" class=""></span>
          </button>
        </li>
        <li class="page-item" *ngFor="let page of getPagesArray()" [class.active]="currentPage === page">
          <button class="page-link" (click)="goToPage(page)">{{ page }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage * selectedOption >= rejectData.length">
          <button class="page-link" (click)="nextPage()" aria-label="Next">
            <span [data-feather]="'chevron-right'" [size]="18.5" class=""></span>
          </button>
        </li>
        <li class="page-item" [class.disabled]="currentPage * selectedOption >= rejectData.length">
          <button class="page-link" (click)="skipForward()" aria-label="Next">
            <span [data-feather]="'skip-forward'" [size]="18.5" class=""></span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>