@import '@core/scss/angular/libs/datatables.component.scss';

.table-responsive {
  overflow-x: auto;
}

.table {
  min-width: 800px;
}

.nav-tabs {
  border: none;
  font-size: large;
  border-radius: 20px !important;
}

.nav-tabs .nav-link{
  color:#6b66a8 !important;
  border-radius: 15px !important;
padding: 10px;
  background-color: rgba(255, 248, 248, 0.638);

}

.nav-tabs .nav-link.active {
  border: none;
  color:white !important;
  background-color:#6059C5 !important;
}

.nav-tabs .nav-link.active:hover{
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}



.spin {
  animation: spinning 2s linear infinite;
  -webkit-animation: spinning 2s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.zoom {
  animation: zoomIn 2s linear infinite;
  -webkit-animation: zoomIn 2s linear infinite;
}

/* Define the zoom effect using keyframes */
@keyframes zoomIn {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.5); 
  }
  100% {
    transform: scale(1);
}
}

